span {
    font-family: 'Tajawal', sans-serif;
    font-size: 14px;
    margin-left: auto;
}

p {
    font-family: 'Tajawal', sans-serif;
    font-size: 14px;
    display: inline;
    float: right;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}